.Board {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
}

.BoardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex-direction: row; */
}

.BoardContent {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
}